<a href="https://colab.research.google.com/github/AnkitPatel745/Online-Retail-Customer-Segmentation/blob/main/Online_Retail_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Extraction/identification of major topics & themes discussed in news articles. </u></b>

## <b> Problem Description </b>

### In this project, your task is to identify major customer segments on a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

## <b> Data Description </b>

### <b>Attribute Information: </b>

* ### InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
* ### StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
* ### Description: Product (item) name. Nominal.
* ### Quantity: The quantities of each product (item) per transaction. Numeric.
* ### InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated.
* ### UnitPrice: Unit price. Numeric, Product price per unit in sterling.
* ### CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
* ### Country: Country name. Nominal, the name of the country where each customer resides.

###**The need of customer segmentation:**
The differences in customers' behaviour, demographics, geographies, etc. help in classifying them in groups. Learning about different groups in the customer can help with following:

1. Target Marketing
2. Client understanding
3. Optimal product placement
4. Searching for new customers
5. Revenue growth

###**Recency-Frequency-Monetary (RFM) model to determine customer value:**
The RFM model is quite useful model in retail customer segmentation where only the data of customer transaction is available. RFM stands for the three dimensions:

* Recency – How recently did the customer purchase?
* Frequency – How often do they purchase?
* Monetary Value – How much do they spend?

A combination of these three attributes can be defined to assign a quantitative value to customers. e.g. A customer who recently bought high value products and transacts regularly is a high value customer.

###**Business Goal:**
To segement the Customers based on RFM so that the company can target its customers efficiently.

###**Approach:**
* Feature Engineering, outliers removal, Standardization
* Used K-Means Clustering with 3 clusters based on Elbow Method and Silhouette Analysis
* Used Agglomerative and Divisive Hierarchical Clustering with 3 clusters based on Dendrogram
* Analyzed 3 customer segments on the basis of Recency, Frequency, and Monetary

##**Import Libraries and Data**

In [ ]:
# import required libraries for dataframe and visualization
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import scipy
import scipy.stats as stat
import math
import sklearn

# import required libraries for clustering
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.cm as cm
import plotly.express as px
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

## Libraries for Hierarchical clustering
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

##**Step 1 : Reading and Understanding Data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/Capstone Project/Online Retail Customer Segmentation/Online Retail.xlsx')

In [ ]:
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

####**Initial Findings**

**Potential data reversal.**

*  The max and min value of Quantity are both 80995; it could represent a 
reversal of data entry. However, the issue is that both the initial and reversal entry are retained in the dataset. Further investigation is needed to understand the nature and determine the best way to manage such data reversal.

**Potential indication of cancellation orders from negative UnitPrice.**

*  It is uncommon to have negative UnitPrice, as this would mean a cash outflow to a company. These transactions could represent cancelled orders by customers or bad-debt/write-off incurred by the business.

**Missing 25% of CustomerID.**

*  The missing unique identified of customers could post a problem as market/customer segmentation requires grouping each unique customer into a group.

In [ ]:
df1.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
df1['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [ ]:
df1['Quantity'].unique()

array([     6,      8,      2,     32,      3,      4,     24,     12,
           48,     18,     20,     36,     80,     64,     10,    120,
           96,     23,      5,      1,     -1,     50,     40,    100,
          192,    432,    144,    288,    -12,    -24,     16,      9,
          128,     25,     30,     28,      7,     56,     72,    200,
          600,    480,     -6,     14,     -2,     11,     33,     13,
           -4,     -5,     -7,     -3,     70,    252,     60,    216,
          384,    -10,     27,     15,     22,     19,     17,     21,
           34,     47,    108,     52,  -9360,    -38,     75,    270,
           42,    240,     90,    320,   1824,    204,     69,    -36,
         -192,   -144,    160,   2880,   1400,     39,    -48,    -50,
           26,   1440,     31,     82,     78,     97,     98,     35,
           57,    -20,    110,    -22,    -30,    -70,   -130,    -80,
         -120,    -40,    -25,    -14,    -15,    -69,   -140,   -320,
           -8,    720,    156,    324,     38,     37,     49,     95,
           -9,    -11,     29,     41,    -72,    -35,    -21,    -43,
          -19,    -18,    -44,    402,    378,    150,    300,     54,
          104,     67,    258,     66,     44,     55,     46,     99,
           61,    408,    972,    208,   1008,   1000,    -77,   1488,
          250,   1394,    400,   -223,   -150,    -13,    -33,   -723,
         -177,     79,     84,    -32,   -100,    -28,    272,   -145,
          -47,    -96,    113,     45,    106,     68,    267,    115,
           65,   1728,    -60,    -16,     53,   -240,     76,    460,
           71,     43,    213,     58,    576,   2400,    500,    180,
         -300,   -500,    -23,    752,    960,   1296,    210,    172,
          215,    129,    138,    116,    135,    197,   -106,    -54,
          -17,   -939,    147,    168,    256,   -201,    -53,    -29,
        -2600,   -990,   -290,    -45,    860,   1010,   1356,   1284,
          186,    114,    360,   1930,   2000,   3114,   1300,    670,
          111,    211,     59,   -310,    -61,    -41,    176,    648,
           62,  74215, -74215,    -64,    -84,     89,  -1400,     73,
          -57,    112,    456,    -59,    -31,   5568,   2560,    136,
          900,   -600,    -42,    -94,   -207,    -52,    130,   -206,
         2592,    420,    800,    101,   1200,    864,   -217,     94,
        -1430,   1287,   -162,   -230,   -173,   -390,   -234,    504,
          123,    118,    -76,   -200,   1056,   1500,    280,    407,
          141,    124,    -99,     51,    -92,   -741,   3906,   -400,
         -114,    102,   1152,    -88,    198,    117,     86,   -720,
          125,    -86,   -391,    -87,   -278,    140,    228,   -154,
        -3000,     81,   -675,   -210,   -345,   -975,  -1200,  -1121,
          -27,   -541,  -1277,   -197,   3000,  -1100,    -63,  -5368,
          219,   -259,    232,    -82,   -178,    170,   -110,    768,
           88,    700,   -102,   2160,   -323,   -450,   -232,    -83,
         -153,   -524,  -2472,    -49,   -105,    342,    304,    167,
          -34,    640,    175,    220,     74,     93,    164,    163,
           63,    637,    122,    158,    165,    350,    -46,    -75,
         -690,    -39,    -66,     83,    312,   -180,    392,   -624,
         -194,    -26,    -62,    -37,    -91,   -139,   -158,  -1479,
          -55,   -576,   -750,    330,    151,    -93,   -432,    -58,
        -1092,   -670,  -1300,  -1930,  -2000,  -3114,    462,    -65,
          -68,    492,   -620,    273,    -90,   -170,  -1512,    -51,
           85,    -56,   -160,   -360,    105,   -960,  -2376,   1350,
          428,  -1350,    336,   -786,   -590,   -168,   -101,    -71,
          132,   -413,   -664,    227,   2700,    222,    246,    906,
          756,    888,    552,    -97,    224,    738,    608,   -212,
         4300,    146,    143,    276,   -125,   -116,   -108,   4000,
         -304,   -272,  -1206,    -95,   1600,    323,   -161,   -472,
         -618,   -204,   1515,  -1515,  -9058,  -9600,    660,   -420,
         -126,   -220,   -271,  -1440,    264,    188,    588,    612,
          152,   -324,   -480,   -164,    -78,   -118,    430,  -1681,
           87,    155,    701,    828,    540,    696,    560,   -250,
         -408,   -179,    121,   -124,    512,   -251,  -3100,   3100,
         -169,    126,    291,   3186,  -2834,   -109,    109,   -121,
         -530,   -227,    261,   -346,    352,    142,    107,   -188,
        -1060,   -342,   -288,    348,   1900,    157,   -343,   -455,
          425,    968,    684,    824,   -828,   -701,    196,    248,
          410,    236,    230,   -156,   -553,    145,    448,    245,
         -252,   -334,   -318,   -113,   -115,    171,   -242,    840,
         -967,   -203,  -3167,   -443,  -1897,    225,   -434,    750,
         -682,   -484,    682,    344,   -635,   -117,  -3667,    450,
          310,    494,   -384,     92,   1788,   -138,    624,    744,
          416,    496,    396,    306,   1878,   1944,    666,    708,
         1428,    852,   1412,    528,   -756,   -752,   -152,    -85,
         -312,    -79,   -147,    -67,   -131,    183,   -209,   -186,
         -231,   -129,   -458,   -275,  -2880,   1540,    672,   -800,
         -430,   -380,    -74,   -840,  -1296,   -365,   -104,   -270,
          -73,   -306,     91,    255,    468,   -468,   -111,   -184,
         -103,   -335,   4800,   -112,  -1000,    912,   1992,    184,
          148,   -657,  -1671,  -1158,  -2618,  -2003,   -674,  -4830,
         -905,  -1128,    832,    992,    630,   1020,   2100,    162,
        -1560,  -1284,    -81,    314,    370,    131,    133,    484,
          149,    153,    257,    139,    137,    628,    179,   1820,
          478,    335,    253,    242,    375,   -276,   -256,    281,
          193,    181,    404,    244,    207,    199,   1130,    326,
          654,    688,    268,    249,   -864,    234,  -1510,   -550,
         -244,   -132,   -327,   -313,    279,   -398,   -280,    374,
         -504,   -696,   -149,   -224,   -428,    212,   -267,   -175,
        12540,    760,    -98,    774,   -151,   2040,  -1131,   -135,
         1120,     77,   -900,    177,    490,    388,    620,   1404,
         -155,   -355,   -337,  -1050,   -338,    205,   -235,    698,
        80995, -80995])